In [2]:
import pandas as pd
import sqlite3

In [14]:
crime_data=pd.read_csv("../data/raw/crime_data.csv")

In [15]:
con = sqlite3.connect("../data/raw/crime_database.db")
crime_data.to_sql('crimes', con, if_exists='replace', index = False)

764061

In [16]:
total_data='''SELECT date_occ, time_occ, area_name, rpt_dist_no, crm_cd_desc, mocodes, vict_age, vict_sex, vict_descent, premis_desc, weapon_desc, status_desc, location, lat, lon
 FROM crimes'''

total_data = pd.read_sql_query(total_data, con)


con.close()

In [17]:
total_data.head()

,date_occ,time_occ,area_name,rpt_dist_no,crm_cd_desc,mocodes,vict_age,vict_sex,vict_descent,premis_desc,weapon_desc,status_desc,location,lat,lon
0,2020-01-08T00:00:00.000,2230,Southwest,377,BATTERY - SIMPLE ASSAULT,0444 0913,36,F,B,SINGLE FAMILY DWELLING,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",Adult Other,1100 W 39TH PL,34.0141,-118.2978
1,2020-01-01T00:00:00.000,330,Central,163,BATTERY - SIMPLE ASSAULT,0416 1822 1414,25,M,H,SIDEWALK,UNKNOWN WEAPON/OTHER WEAPON,Invest Cont,700 S HILL ST,34.0459,-118.2545
2,2020-02-13T00:00:00.000,1200,Central,155,SEX OFFENDER REGISTRANT OUT OF COMPLIANCE,1501,0,X,X,POLICE FACILITY,None,Adult Arrest,200 E 6TH ST,34.0448,-118.2474
3,2020-01-01T00:00:00.000,1730,N Hollywood,1543,VANDALISM - MISDEAMEANOR ($399 OR UNDER),0329 1402,76,F,W,"MULTI-UNIT DWELLING (APARTMENT, DUPLEX, ETC)",None,Invest Cont,5400 CORTEEN PL,34.1685,-118.4019
4,2020-01-01T00:00:00.000,415,Mission,1998,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,31,X,X,BEAUTY SUPPLY STORE,None,Invest Cont,14400 TITUS ST,34.2198,-118.4468

In [18]:
total_data.to_csv("../data/raw/selected_data.csv",index=False)