In [2]:
import pandas as pd

In [3]:
total_data=pd.read_csv("../data/processed/final_data.csv")
total_data.head()

,date_occ,time_occ,area_name,crm_cd_desc,vict_age,vict_sex,vict_descent,premis_desc,weapon_desc,status_desc,location,lat,lon,weekday,month,mocodes_desc
0,2020-01-08,2230,0,0,36,0,0,0,0,0,0,34.0141,-118.2978,0,0,0
1,2020-01-01,330,1,0,25,1,1,1,1,1,1,34.0459,-118.2545,0,0,1
2,2020-01-01,1730,2,1,76,0,2,2,2,1,2,34.1685,-118.4019,0,0,2
3,2020-01-01,415,3,2,31,2,3,3,2,1,3,34.2198,-118.4468,0,0,3
4,2020-01-01,30,1,3,25,0,1,4,1,1,4,34.0452,-118.2534,0,0,4

In [30]:
theft=total_data[total_data['crm_cd_desc'].isin([4,5,8,14,19,20,37,54,64,70,
                                                 101,107,111,115,117])]

  "SHOPLIFTING - PETTY THEFT ($950 & UNDER)":4,  
  "THEFT-GRAND ($950.01 & OVER)EXCPT,GUNS,FOWL,LIVESTK,PROD":5,  
  "THEFT PLAIN - PETTY ($950 & UNDER)":8,  
  "THEFT, PERSON":14,  
  "THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER)":19,  
  "THEFT FROM MOTOR VEHICLE - ATTEMPT":20,  
  "SHOPLIFTING-GRAND THEFT ($950.01 & OVER)":37,  
  "THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND OVER)":54,  
  "THEFT FROM PERSON - ATTEMPT":64,  
  "THEFT PLAIN - ATTEMPT":70,  
  "THEFT, COIN MACHINE - GRAND ($950.01 & OVER)":101,  
  "THEFT, COIN MACHINE - PETTY ($950 & UNDER)":107,  
  "TILL TAP - PETTY ($950 & UNDER)":111,  
  "TILL TAP - GRAND THEFT ($950.01 & OVER)":115,     
"SHOPLIFTING - ATTEMPT":117,

In [31]:
len(theft)

58633

In [12]:
burglary=total_data[total_data['crm_cd_desc'].isin([6,11,53,62])]

"BURGLARY FROM VEHICLE":6,  
"BURGLARY":11,  
"BURGLARY FROM VEHICLE, ATTEMPTED":53,  
"BURGLARY, ATTEMPTED":62,

In [13]:
len(burglary)

45576

In [20]:
vehicles=total_data[total_data['crm_cd_desc'].isin([56,76,87])]

"VEHICLE - ATTEMPT STOLEN":56,  
"VEHICLE - STOLEN":76,  
"VEHICLE, STOLEN - OTHER (MOTORIZED SCOOTERS, BIKES, ETC)":87,

In [21]:
len(vehicles)

2382

In [22]:
robbery=total_data[total_data['crm_cd_desc'].isin([9,25])]

"ROBBERY":9,  
"ATTEMPTED ROBBERY":25,

In [23]:
len(robbery)

14255

In [32]:
children=total_data[total_data['crm_cd_desc'].isin([39,49,69,73,74,79])]

"LEWD\/LASCIVIOUS ACTS WITH CHILD":39,  
 "CHILD ABUSE (PHYSICAL) - SIMPLE ASSAULT":49,  
 "CHILD ANNOYING (17YRS & UNDER)":69,  
 "CRM AGNST CHLD (13 OR UNDER) (14-15 & SUSP 10 YRS OLDER)":73,  
 "CHILD PORNOGRAPHY":74,  
 "CHILD ABUSE (PHYSICAL) - AGGRAVATED ASSAULT":79,

In [33]:
len(children)

2771

In [35]:
killers=total_data[total_data['crm_cd_desc'].isin([66])]
len(killers)

717

In [36]:
rapist=total_data[total_data['crm_cd_desc'].isin([3,50])]
len(rapist)

1779

In [37]:
len(theft)+len(burglary)+len(vehicles)+len(robbery)+len(children)+len(killers)+len(rapist)

126113

In [8]:
drugs=total_data[total_data['crm_cd_desc'].isin([122])]
len(drugs)

2